<launch>

  <node pkg="ins550d" type="ins550d_node" name="ins550d_node" required="true">
    <param name="port" value="/dev/ttyUSB0"/>
  </node>
  
  <param name="gps_sub_topic" value = "/imu/gps" />
  <param name="output_frame_name" value = "map" />
  <param name="auto_get_origin_gps" value = "true" />
  <param name="z_rotate_value" value = "0.0" />
  <param name="origin_latitude_value" value = "1.0" />
  <param name="origin_longitude_value" value = "1.0" />
  <param name="origin_altitude_value" value = "1.0" />
  <param name="latitude_resolution" value = "9.01006167e-06" />
  <param name="longitude_resolution" value = "1.09244689e-05" />
  <param name="altitude_resolution" value = "1.0" />
  <node pkg="ins" type="ins" name="ins" required="true">
  <param name="port" value="/dev/ttyUSB0"/>
  </node>
<!-- <node pkg="imu" name="imu" type="imu" output="screen" /> //启动根据加速度计算速度程序,暂时无法消除误差 -->
  <!-- <node pkg = "gps2odom" type = "gps2odom" name = "gps2odom" output = "screen">
        <remap from="gps" to="/imu/gps" />
        <remap from="imu" to="/imu/data" />
    </node> -->
  
  <rosparam file="$(find gps2odom)/yaml/gps2odom.yaml" command="load" />

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" 
	  args="0 0 0 0 0 0 1  /base_link /imu_link 10" />

    <!-- EKF case-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" respawn="true">
        <remap from="odometry/filtered" to="odom" />
        <param name="two_d_mode" value="false"/>      
    </node>

    <!-- Navsat -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat" respawn="true">
        <remap from="imu/data" to="imu/data" />
        <remap from="gps/fix" to="imu/gps" />
        <remap from="odometry/filtered" to="odom" />
    </node>


  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ins550d)/rviz/demo.rviz" required="true"/> //启动导航仪实时位姿rviz-->

</launch>
