<launch>
     <include file="$(find husky_gazebo)/launch/race_straight.launch">
        <!-- <arg name="gui" value="false"/> -->
    </include>
    <include file="$(find husky_navigation)/launch/amcl_nav_s.launch"/>

    <!-- <include file="$(find waypoint_loader)/launch/waypoint_loader.launch"/>
    <include file="$(find pure_persuit)/launch/pure_persuit.launch"/> -->
    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 1 map odom 100"/>

</launch>
